# {{ ansible_managed }}
global_defs {
    router_id {{ inventory_hostname }}
    enable_script_security
    script_user root
}

vrrp_script chk_haproxy {
    script "{{ keepalived_check_script }}"
    interval {{ keepalived_check_interval }}
    timeout {{ keepalived_check_timeout }}
    weight {{ keepalived_check_weight }}
    fall {{ keepalived_check_fall }}
    rise {{ keepalived_check_rise }}
}

vrrp_instance VI_{{ patroni_scope | upper | regex_replace('[^A-Z0-9]', '_') }} {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int {{ keepalived_advert_int }}

    unicast_src_ip {{ keepalived_unicast_src_ip }}
    unicast_peer {
{% for peer in keepalived_unicast_peers %}
        {{ peer }}
{% endfor %}
    }

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_prefix }} dev {{ keepalived_interface }}
    }

    track_script {
        chk_haproxy
    }
}
